body{
    background-image: url("/static/images/outros/news-football-bg.jpg");
    background-size: 100%;
}
h1.t1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h3.t3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img.index{
   
    left: 90px;

}
 




