<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
    
        <title>Page Title</title>
        <h1> Nesta pagina, iremos colocar as informações dos times</h1>
    </head>
    <body>
        <!--Aqui vamos inserir os dados e se conectar com o banco de dados-->
        <tr>
            <td><h3 class="sub_titulo"><a href="index">Pagina Principal</a></p></h3></td>
            <td><h3 class="sub_titulo"><a href="serie_a">Serie A</a></p></h3></td>
            
        </tr>
    
    </body>
</html>