<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<body>
    <form action="listar" onsubmit="return listar()">
   
        <label>TIME:</label>
        <input type="text" name="nome" maxlength="50"/><br/>
        <input type="submit" value="Consultar"/><br/>
        <table class="tabela"  border ="1">
            
            <tr>
                <th>ID</th>
                <th>TIME</th>
                <th>P</th>
                <th>J</th>
                <th>V</th>
                <th>E</th>
                <th>D</th>
                <th>GP</th>
                <th>GC</th>
                <th>SG</th>
            </tr>
            <tr>
                <th>{{id_}}</th>
                <th>{{time}}</th>
                <th>{{ponto}}</th>
                <th>{{jogos}}</th>
                <th>{{vitorias}}</th>
                <th>{{empates}}</th>
                <th>{{derrotas}}</th>
                <th>{{gols_pro}}</th>
                <th>{{gols_contra}}</th>
                <th>{{saldo_gols}}</th>
            </tr>
        </table>
    </form>
    
</body>
</html>