<!DOCTYPE html>
    <head>
        <meta charset='utf-8'> 
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>   
        <title> Campeonato Brasileiro</title>   
        <img class="index" src="/static/images/outros/brasileirao.jpeg"
         width="550px" height="250px"/>                       
        
    </head>
    
    <body > 
        <h1 class="t1">CAMPEONATO BRASILEIRO</h1><br/> 
         <h3 class="t3">
        <br/>
     O Campeonato Brasileiro de Futebol de 1971, originalmente denominado Campeonato Nacional de Clubes pela CBD, 
     foi a décima quinta edição do Campeonato Brasileiro. Entretanto, de 1976 até 2010,
      
      quando a CBF unificou os títulos brasileiros anteriores a 1971, passando a considerar a Taça Brasil de 1959
    como sendo a primeira edição do campeonato, este torneio era considerado pela entidade máxima do futebol nacional
     como sendo a primeira edição do Brasileirão. O certame foi vencido pelo Atlético Mineiro, conquistando assim
    o seu primeiro título de campeão brasileiro
        <br/>
        <form action="serie_a">
            <button type="submit">SÉRIE A</button>
        </form>
        <form action="pontuacao">
            <button type="submit">PONTUAÇÃO</button>
        </form>
        <form action="cadastrar">
            <button type="submit">CADASTRO</button>
        </form>
        <form action="listar">
            <button type="submit">CONSULTA</button>
        </form>
    </body>
</html>
