<!DOCTYPE html>
    <head>
        <meta charset='utf-8'> 
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>   
        <title> Campeonato Brasileiro</title>   
        <img class="brasileirao" src="/static/images/outros/brasileirao.jpeg"
         width="550px" height="250px"/>                       
        
    </head>
    <body > 
        <h1 class="titulo">CAMPEONATO BRASILEIRO</h1><br/>            
        <input type="button" value="Série A" href="serie_a">
        <input type="button" value="Pontuação " href="pontuacao">
    </body>
</html>
