<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title>Campeonato Brasileiro Serie B</title>
    </head>
<body>
    <h2 class="sub_titulo">Consulta aqui o seu time do coração!!</h2><br/>
        <table class="tabela_index" border ="1">
            <tr>
                <th></th>
                <th></th>
                <th>Nome</th>
                <th>P</th>
                <th>J</th>
                <th>E</th>
                <th>D</th>
                <th>GP</th>
                <th>GC</th>
                <th>SG</th>
            </tr>
            <tr>
                <td>#Posição</td>
                <td>#Brasão</td>
                <td>#Nome</td>
                <td>#P</td>
                <td>#J</td>
                <td>#E</td>
                <td>#D</td>
                <td>#GP</td>
                <td>#GC</td>
                <td>#SG</td>
            </tr>
        </table>
    <a href="index">Voltar</a>
</body>
</html>