<!DOCTYPE html>
    <head>
        <meta charset='utf-8'>
            <title>Campeonato Brasileiro Serie A</title>
            <img class="brasileirao" src="/static/images/outros/brasileirao_a.png" width="650px" height="500px"/>
        </head>
    <body>
        <h2 class="sub_titulo">Os principais times da série A!!</h2><br/>
        <h2 class="sub_titulo">Conhecendo alguns times do coração.</h2><br/>
        <img src="/static/images/serie_a/internacional.png" width="250px" height="250px"/>
        
        
   
        <a href="index">Voltar</a>
    </body>
</html>