<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <meta charset='utf-8'>
            <title>Campeonato Brasileiro Serie A</title>
            <img class="brasileirao" src="/static/images/outros/brasileirao_a.png" width="650px" height="500px"/>
        </head>
    <body>
        <h2 class="sub_titulo">Os principais times da série A!!</h2><br/>
        <h2 class="sub_titulo">Conhecendo alguns times do coração.</h2><br/>
        <img src="/static/images/serie_a/corinthias.png" width="250px" height="250px"/>
        <br/>
        <h3>
        <br/>
        O Sport Club Corinthians Paulista foi fundado em 1º de setembro de 1910. O nome acabou 
        definido posteriormente, em homenagem ao time inglês Corinthian FC, que estava excursionando 
        pelo Brasil na época. Outras ideias de nome foram Santos Dumont e Carlos Gomes. A equipe é a 
        maior campeã da história do Campeonato Paulista, com 26 taças. O Corinthians ainda tem no 
        histórico um título mundial, quatro Campeonatos Brasileiros e três Copas do Brasil. Uma das 
        conquistas mais comemoradas pela torcida foi a do Estadual de 1977, com o famoso gol de Basílio, 
        quebrando um tabu de 22 anos e oito meses sem títulos.
        <br/>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: Sport Club Corinthians Paulista<br/>
        Alcunhas: Timão, Coringão, Todo Poderoso, Time do Povo<br/>
        Fundação: 1 de setembro 1910<br/>
        Localização: São Paulo - SP, Brasil<br/>
        Estádio: Neo Química Arena<br/>
        Capacidade: 49.205<br/>
        </h3> 
        <br/>
       
        </h3>
        <br/>
        <img src="/static/images/serie_a/palmeiras.png" width="250px" height="250px"/>
        <br/>
         <h3>
            <br/>
            O Palmeiras surgiu no dia 26 de agosto de 1914. Fundado por imigrantes italianos, seu 
            primeiro nome foi Società Sportiva Palestra Italia. Em 1942, quando estava estabelecida como 
            uma força do futebol paulista, a equipe foi obrigada a trocar de nome, passando a se chamar 
            Sociedade Esportiva Palmeiras em decorrência da Segunda Guerra Mundial. O Palmeiras foi campeão 
            paulista logo em sua primeira partida com o novo nome. Foram, ao todo, 22 títulos estaduais. Um 
            dos times mais famosos da história do clube alviverde foi o chamado de "Academia de Futebol", das 
            décadas de 1960 e 70, liderado por Ademir da Guia - um dos poucos elencos que faziam frente ao 
            Santos de Pelé..
            <br/>
        </h3>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: Sociedade Esportiva Palmeiras<br/>
        Alcunhas: Verdão, Alviverde, Palestra, Academia<br/>
        Fundação: 26 de agosto de 1914<br/>
        Localização: São Paulo - SP, Brasil<br/>
        Estádio: Allianz Parque<br/>
        Capacidade: 55.000<br/>
    
        </h3> 
       
        </h3>
        <br/>
        <img src="/static/images/serie_a/vasco.png" width="250px" height="250px"/>
        <br/>
         <h3>
            <br/>
            O Club de Regatas Vasco da Gama foi fundado por quatro remadores em 21 de agosto de 1898, 
            voltado para o esporte marítimo. Seu primeiro time de futebol surgiu no fim de 1915. O nome 
            Vasco da Gama é uma homenagem ao português: no ano de fundação do clube, comemorava-se o 
            quarto centenário da descoberta do caminho marítimo às Índias. A equipe venceu a divisão de 
            acesso do Campeonato Carioca em 1923, conquistando o seu primeiro Estadual logo no ano 
            seguinte. Entre os principais títulos vascaínos destacam-se a Copa Libertadores da América 
            de 1998, ano de seu centenário, e o Campeonato Sul-Americano de Clubes, antecessor do 
            Continental, em 1948.
            <br/>
        </h3>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: Club de Regatas Vasco da Gama<br/>
        Alcunhas: Gigante da Colina, Time da Virada, Vascão<br/>
        Fundação: 21 de agosto de 1898<br/>
        Localização: Rio de Janeiro - RJ, Brasil<br/>
        Estádio: São Januário<br/>
        Capacidade: 21.880<br/>
        </h3> 

        </h3>
        <br/>
        <img src="/static/images/serie_a/sao_paulo.png" width="250px" height="250px"/>
        <br/>
         <h3>
            <br/>
            O São Paulo Futebol Clube foi fundado em 25 de janeiro de 1930 como São Paulo da 
            Floresta. Após breve período de inatividade, foi refundado em 16 de dezembro de 1935 com o 
            nome atual. É o único time brasileiro que tem três títulos continentais e três 
            mundiais, além de ser o único a conquistar o Campeonato Brasileiro três vezes 
            consecutivas. Duas das estrelas do emblema são-paulino, as douradas, têm relação com outro 
            esporte. Elas representam os recordes mundiais e olímpicos de salto triplo de Adhemar 
            Ferreira da Silva, atleta do clube. Um dos maiores ídolos da história do São Paulo não 
            entrava em campo: Telê Santana foi o comandante da equipe bicampeã mundial.
            <br/>
        </h3>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: São Pualo Futebol Clube<br/>
        Alcunhas: Tricolor Paulista, Clube da Fé, O Mais Querido, Tricolor do Morumbi<br/>
        Fundação: 16 de dezembro de 1935<br/>
        Localização: São Paulo - SP, Brasil<br/>
        Estádio: Morumbi<br/>
        Capacidade: 66.795<br/>
        </h3> 

        </h3>
        <br/>
        <img src="/static/images/serie_a/santos.png" width="250px" height="250px"/>
        <br/>
         <h3>
            <br/>
            O Santos Futebol Clube foi fundado em 14 de abril de 1912. É, até hoje, o único time 
            brasileiro que ganhou título em âmbito estadual, nacional, continental e mundial em um 
            só ano - 1962. Também foi a primeira agremiação brasileira a alcançar a marca dos 10 mil 
            gols marcados. A equipe mais famosa da história do Santos é a da década de 1960, liderada 
            por Pelé, e com outros grandes nomes como Mengálvio, Dorval, Coutinho e Pepe, que dominou o 
            futebol brasileiro da época. Nos últimos anos, o time alvinegro praiano tem se destacado por 
            revelar diversos atletas jovens, como Diego, Robinho, Neymar e Paulo Henrique Ganso.
            <br/>
        </h3>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: Santos Futebol Clube<br/>
        Alcunhas: Peixe, Alvinegro Praiano, Alvinegro da Vila<br/>
        Fundação: 14 de abril de 1912<br/>
        Localização: Santos - SP, Brasil<br/>
        Estádio: Vila Belmiro<br/>
        Capacidade: 16.068<br/>
        </h3> 

        </h3>
        <br/>
        <img src="/static/images/serie_a/internacional.png" width="250px" height="250px"/>
        <br/>
         <h3>
            <br/>
            O Sport Club Internacional surgiu como uma opção para os não-germânicos poderem disputar 
            futebol em Porto Alegre. Foi fundado em 4 de abril de 1909, pelos irmãos José, Henrique 
            Poppe Leão e Luiz Madeira Poppe. O nome Internacional, uma homenagem ao homônimo paulista, 
            indicava a abertura da agremiação a pessoas de todas as origens. A primeira taça veio em 
            1913, no Campeonato Metropolitano de Porto Alegre. Desde então, a equipe colorada ganhou 
            diversos títulos. Entre eles, o Mundial, duas Copas Libertadores, a Recopa e a Copa 
            Sul-Americana - conquistadas na década de 2000 - e três Campeonatos Brasileiros - na década 
            de 1970, com time liderado por Falcão.
            <br/>
        </h3>
        <h3>
        <h2>Ficha Técnica</h2>
        <h3>Nome: Sport Club Internacional<br/>
        Alcunhas: Colorado, Rolo Compressor, Academia do Povo, Campeão de Tudo<br/>
        Fundação: 4 de abril de 1909<br/>
        Localização: Porto Alegre - RS, Brasil<br/>
        Estádio: Beira-Rio<br/>
        Capacidade: 50.842<br/>
        </h3> 

        
   
        <a href="index">Voltar</a>
    </body>
</html>

