<!DOCTYPE html>
    <head>
        <meta charset='utf-8'>
            <title>Campeonato Brasileiro Serie A</title>
            <img class="brasileirao" src="/static/images/outros/brasileirao_a.png" width="650px" height="500px"/>
        </head>
    <body>
        <h2 class="sub_titulo">Os principais times da série A!!</h2><br/>
        <h2 class="sub_titulo">Conhecendo alguns times do coração.</h2><br/>
        <img src="/static/images/serie_a/internacional.png" width="250px" height="250px"/>
        <br/>
        <h3>
            O Sport Club Internacional surgiu como uma opção para os não-germânicos poderem disputar futebol em Porto Alegre.
            <br/>
             Foi fundado em 4 de abril de 1909, pelos irmãos José, Henrique Poppe Leão
              e Luiz Madeira Poppe. O nome Internacional,
              <br/> uma homenagem ao homônimo paulista,
               indicava a abertura da agremiação a pessoas de todas as origens.<br/>
                A primeira taça veio em 1913, no Campeonato Metropolitano de Porto Alegre.
                 Desde então, a equipe colorada ganhou diversos títulos. <br/>
                 Entre eles, o Mundial, duas Copas Libertadores, a Recopa e a Copa Sul-Americana - 
                 <br/>conquistadas na década de 2000 - e três Campeonatos Brasileiros - 
                 na década de 1970, com time liderado por Falcão.
        </h3>

        
        
   
        <a href="index">Voltar</a>
    </body>
</html>